body {
  height: 100vh;
  margin: 0px;
  color: white;
  font-family: "Handlee";
}

main {
  height: 100%;
  width: 100%;
}

.left-pane {
  height: 100%;
  width: 25%;
  float: left;
  background: linear-gradient(PaleGreen, MediumSeaGreen);
}

h3 {
  font-size: 2.25em;
  text-align: center;
}

h4 {
  font-size: 1.5em;
  text-align: center;
  font-weight: 100;
}

.middle-pane {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 50%;
  float: left;
  background-color: LightPink;
}

h1 {
  font-size: 2.5em;
  font-style: italic;
  font-weight: 900;
}

h2 {
  font-size: 1.75em;
  font-weight: 100;
}

.game-board {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 400px;
}

.box {
  width: 125px;
  height: 125px;
  border: 6.25px solid White;
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3) {
  border-top: none;
}

.box:nth-child(7),
.box:nth-child(8),
.box:nth-child(9) {
  border-bottom: none;
}

.box:nth-child(1),
.box:nth-child(4),
.box:nth-child(7) {
  border-left: none;
}

.box:nth-child(3),
.box:nth-child(6),
.box:nth-child(9) {
  border-right: none;
}

.right-pane {
  height: 100%;
  width: 25%;
  float: right;
  background: linear-gradient(PaleGreen, MediumSeaGreen);
}
